@use '../../../assets/partials/colors';
@import url("https://fonts.googleapis.com/css2?family=Rajdhani&display=swap");

.movie-review-list-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.movie-review-post-container h3{
    color: colors.$gold;
    font-family: 'Rajdhani', sans-serif;
    font-size: 5rem;
}