@use '../../../assets/partials/colors';

$ruler: 14px;
$color-red: colors.$gold;
$color-bg: colors.$white;
$color-shadow: colors.$dark-grey;
$color-white: colors.$light-grey;


.sign-up-input{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: -0.2px;
    font-size: 17px;
    border: 0;
    outline: 0;
    border-radius: $ruler*20;
    padding: $ruler;
    background-color:$color-bg;
    //text-shadow: 1px 1px 0 $color-white;
    margin-bottom: $ruler*1.5;
    margin-right: $ruler/2;
    box-shadow:  inset 2px 2px 5px $color-shadow, inset -5px -5px 10px $color-white;
    width: 100%;
    box-sizing: border-box;
    transition: all 0.2s ease-in-out;
    appearance: none;
    -webkit-appearance: none;

    &:focus {
        box-shadow:  inset 1px 1px 2px $color-shadow, inset -1px -1px 2px $color-white;
    }
}