$siteBackground: rgb(26, 20, 20);
$topPageLeftBlack: rgb(20, 19, 19);

body {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif; 
  text-align: center;
  color:azure;
  background-color: $siteBackground;
}
