@use '../../../assets/partials/colors';

.posting-container h1{
    color: colors.$gold;
    font-family: 'Rajdhani', sans-serif;
    font-size: 5rem;
}

.posting-container p {
    font-size: 1.75rem;
}