@use '../../../assets/partials/colors';

.actor-display{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.actor-movie-display-card{
    width: 300px;
    height: 475px;
    margin: 1rem;
    background-color: colors.$medium-grey;
    border-radius: 3px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.75);
    overflow: hidden;
    position: relative;
}

.actor-movie-display-info{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}


.actor-movie-display-image{
    width: 100%;
    height: 75%;
    object-fit: cover;
}

.actor-movie-display-summary{
    background-color: colors.$dark-grey;
    position: absolute;
    padding: 1rem;
    bottom: 0;
    left: 0;
    right: 0;
    transform: translateY(100%);
    transition: transform 0.4s ease-in-out;
}

.actor-movie-display-card:hover .actor-movie-display-summary{
    transform: translateY(0%);
}

.movie-info-button{
    -webkit-appearance: none;
    text-decoration: none;
    margin-top: 0.5rem;
    background-color: colors.$dark-gold;
    border-radius: 12px;
    color: colors.$white;
    cursor: pointer;
    font-weight: bold;
    padding: 10px 15px;
    text-align: center;
    transition: 200ms;
    width: 100%;
    box-sizing: border-box;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    &:hover{
        outline: 0;
        background: colors.$medium-grey;
        box-shadow: 0 0 0 2px rgba(0,0,0,.2), 0 3px 8px 0 rgba(0,0,0,.15);
    }

    &:focus{
        outline: 0;
        background: colors.$medium-grey;
        box-shadow: 0 0 0 2px rgba(0,0,0,.2), 0 3px 8px 0 rgba(0,0,0,.15);
    }
}

.left-arrow{
    margin-left: 1rem;
    border: 1px solid colors.$white;
    border-radius: 50%;
    font-size: 3rem;
    color: colors.$gold;
    &:hover{
        cursor: pointer;
    }
}

.right-arrow{
    margin-right: 1rem;
    border: 1px solid colors.$white;
    border-radius: 50%;
    font-size: 3rem;
    color: colors.$gold;
    &:hover{
        cursor: pointer;
    }

}