@use '../../../assets/partials/colors';

.associating-container h1{
    color: colors.$gold;
    font-family: 'Rajdhani', sans-serif;
    font-size: 5.5rem;
}

.associating-container p{
    font-size: 2rem;
}