@use '../../../assets/partials/colors';

.genre-info-display-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.genre-info-display-container h1{
    font-family: 'Rajdhani', sans-serif;
    text-shadow: 2px 2px 4px black;
    font-size: 5.5rem;
    color: colors.$gold;
}

.genre-info-poster-display{
    width: 30rem;
    box-shadow: 5px 5px 8px black;
}

.genre-page-display{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1rem;
}

.genre-page-p{
    font-size: 1.75rem;
    margin: 1rem;
}

.genre-page-display h2{
    font-family: 'Rajdhani', sans-serif;
    font-size: 2.75rem;
}

.genre-page-info-text{
    color: colors.$gold;
    font-family: 'Rajdhani', sans-serif;
    font-size: 5rem;
}