@use '../../../assets/partials/colors';
@import url("https://fonts.googleapis.com/css2?family=Rajdhani&display=swap");

.movie-info-display-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.movie-info-display-container h1{
    font-family: 'Rajdhani', sans-serif;
    text-shadow: 2px 2px 4px black;
    font-size: 5.5rem;
    color: colors.$gold;
}

.movie-info-poster-display{
    width: 30rem;
    box-shadow: 5px 5px 8px black;
}

.movie-display{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1rem;

}

.movie-display h2{
    font-family: 'Rajdhani', sans-serif;
    font-size: 2.75rem;
}

.genre-movie-display-card h2{
    font-family: 'Rajdhani', sans-serif;
    font-size: 1.75rem;
}

.director-movie-display-card h2{
    font-family: 'Rajdhani', sans-serif;
    font-size: 1.75rem;
}

.actor-movie-display-card h2{
    font-family: 'Rajdhani', sans-serif;
    font-size: 1.75rem;
}

.movie-p{
    font-size: 1.75rem;
    margin: 1rem;
}


.movie-info-text{
    color: colors.$gold;
    font-family: 'Rajdhani', sans-serif;
    font-size: 5rem;
}




.movie-trailer-display{
    margin: 2rem 2rem 2rem 2rem;
    width: 56rem;
    height: 32rem;
    box-shadow:  5px 5px 8px black;
}

.movie-review-page-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.movie-review-page-container h1{
    font-family: 'Rajdhani', sans-serif;
    color: colors.$gold;
    font-size: 5rem;
}