.movie-info-display-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.movie-info-poster-display{
    width: 20rem;
}

.movie-display-information-container{
    display: flex;
    flex-direction: column;
}


.movie-trailer-display{
    margin: 2rem 2rem 2rem 2rem;
    width: 36rem;
    height: 22rem;
}