@use '../../../assets/partials/colors';

.movie-info-display-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.movie-info-poster-display{
    width: 20rem;
}

.movie-display{
    display: flex;
    align-items: baseline;
    margin-left: 1rem;
}

.movie-p{
    font-size: 1.25rem;
}


.movie-info-text{
    color: colors.$gold;
    font-size: 2.5rem;
    padding-right: 3rem;
}




.movie-trailer-display{
    margin: 2rem 2rem 2rem 2rem;
    width: 36rem;
    height: 22rem;
}

.movie-review-page-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.movie-review-page-container h1{
    color: colors.$gold;
    font-size: 2.5rem;
}