@use '../../../assets/partials/colors';

.actor-info-display-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.actor-info-poster-display{
    width: 20rem;
}

.actor-display{
    display: flex;
    align-items: baseline;
    margin-left: 1rem;
}

.actor-p{
    font-size: 1.25rem;
}


.movie-info-text{
    color: colors.$gold;
    font-size: 2.5rem;
    padding-right: 3rem;
}




.actor-trailer-display{
    margin: 2rem 2rem 2rem 2rem;
    width: 36rem;
    height: 22rem;
}