@use '../../../assets/partials/colors';
@import url("https://fonts.googleapis.com/css2?family=Rajdhani&display=swap");

.actor-info-display-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.actor-info-display-container h1{
    font-family: 'Rajdhani', sans-serif;
    font-size: 4.2rem;
    color: colors.$gold;
}

.actor-info-poster-display{
    width: 30rem;
    box-shadow: 5px 5px 8px black;
}

.actor-display{
    display: flex;
    align-items: baseline;
    margin-left: 1rem;
}

.actor-p{
    font-size: 1.25rem;
}


.actor-info-text{
    color: colors.$gold;
    font-size: 2.5rem;
    padding-right: 3rem;
}




.actor-trailer-display{
    margin: 2rem 2rem 2rem 2rem;
    width: 36rem;
    height: 22rem;
}