/* The centering for the whole log in page */
@use '../../assets/partials/colors';
@import url("https://fonts.googleapis.com/css2?family=Rajdhani&display=swap");

$ruler: 18px;
$color-red: colors.$light-grey;
$color-bg: colors.$white;
$color-shadow: colors.$dark-grey;
$color-white: colors.$gold;


.login-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-container h3{
  font-family: 'Rajdhani', sans-serif;
  font-size: 2.0rem;
}
.login-area{
  display: flex;
  flex-direction: column;
}

.login-page-logo{ 
  width: 40rem;
  padding-bottom: 0.2rem;
  
}

.sign-up-container{
  display: flex;
  flex-direction: column;
}

.sign-up-container h3{
  font-family: 'Rajdhani', sans-serif;
  font-size: 2.0rem;
}

.sign-up-button{
  font-family: 'Rajdhani', sans-serif;
  letter-spacing: -0.2px;
  font-size: 1.5rem;
  border: 0;
  outline: 0;
  border-radius: calc($ruler*20);
  padding: $ruler;
  background-color:$color-red;
  // text-shadow: 1px 1px 0 $color-white;
  margin-bottom: calc($ruler*1.5);
  margin-right: calc($ruler/2);
  box-shadow:  inset 2px 2px 5px $color-shadow, inset -5px -5px 10px $color-shadow;
  width: 100%;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
  appearance: none;
  -webkit-appearance: none;
  &:focus {
      box-shadow:  inset 1px 1px 2px $color-shadow, inset -1px -1px 2px $color-white;
  }
  color:#61677C;
  font-weight: bold;
  box-shadow: -5px -5px 5px $color-white,  5px 5px 5px $color-shadow;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  font-weight: 600;
  
  &:hover {
    box-shadow: -2px -2px 5px $color-white, 2px 2px 5px $color-shadow;
  }
  
  &:active {
    box-shadow: inset 1px 1px 2px $color-shadow, inset -1px -1px 2px $color-white;
  }
}

