/* The centering for the whole log in page */
@use '../../assets/partials/colors';
$ruler: 18px;
$color-red: colors.$gold;
$color-bg: colors.$white;
$color-shadow: colors.$dark-grey;
$color-white: colors.$light-grey;

.login-area{
    position: absolute;
    width: 300px;
    height: 200px;
    z-index: 15;
    top: 50%;
    left: 50%;
    margin: -100px 0 0 -150px;
}

.login-page-logo{
    width: 600px;
    padding-bottom: 0.5rem;
}

.sign-up-container{
    display: flex;
    flex-direction: column;
}

.sign-up-button{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: -0.2px;
    font-size: $ruler;
    border: 0;
    outline: 0;
    font-size: $ruler;
    border-radius: $ruler*20;
    padding: $ruler;
    background-color:$color-red;
   // text-shadow: 1px 1px 0 $color-white;
    margin-bottom: $ruler*1.5;
    margin-right: $ruler/2;
    box-shadow:  inset 2px 2px 5px $color-shadow, inset -5px -5px 10px $color-shadow;
    width: 100%;
    box-sizing: border-box;
    transition: all 0.2s ease-in-out;
    appearance: none;
    -webkit-appearance: none;

    &:focus {
        box-shadow:  inset 1px 1px 2px $color-shadow, inset -1px -1px 2px $color-white;
    }
    color:#61677C;
  font-weight: bold;
  box-shadow: -5px -5px 5px $color-white,  5px 5px 5px $color-shadow;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  font-weight: 600;
  
  &:hover {
    box-shadow: -2px -2px 5px $color-white, 2px 2px 5px $color-shadow;
  }
  
  &:active {
    box-shadow: inset 1px 1px 2px $color-shadow, inset -1px -1px 2px $color-white;
  }
}

