@use '../../assets/partials/colors';
@import url("https://fonts.googleapis.com/css2?family=Rajdhani&display=swap");

.navbar-container{
    border-bottom: 0.20rem solid colors.$gold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 13.5rem;
    background: linear-gradient(to right, #7c7e7e34, #7e1616,#7e1616, #7d6060);
}

.eh-logo-nav{
    width: 12rem;
}

.nav-display-container{
    display: flex;
    height: 100%;
    flex-wrap: wrap;
}

.nav-items{
    display: flex;
    align-items: center;
    
}

.nav-link{
    display: flex;
    align-items: center;
    font-size: 2rem;
    font-family: 'Rajdhani', sans-serif;
    color: colors.$white;
    text-decoration: none;
    height: 15%;
    
    
    &:hover{
        background-color: colors.$dark-gold;
        color: colors.$white;
        border-radius: 5px;
      //  box-shadow: 1px 1px 2px colors.$white;
        overflow: hidden;
        transition: transform 0.9s  ease-in-out;
    }

    &:active{
        background-color: colors.$dark-gold;
        color: colors.$white;
        border-radius: 5px;
        overflow: hidden;
    }
  
}

.nav-user-info-container{
    display: flex;
    flex-direction: column;
}

.nav-user-pic{
    width: 4.5rem;
    height: 4.5rem;
    object-fit: cover;
    border: 2.5px solid colors.$dark-gold;
    border-radius: 50%;   
}

.nav-username{
    font-size: 1.35rem;
    font-family: 'Rajdhani', sans-serif;
    &:hover{
        color: colors.$gold;
    }
}

.nav-log-out {
    background-color: colors.$dark-grey;
    border-radius: 12px;
    color: colors.$white;
    cursor: pointer;
    font-weight: bold;
    padding: 5px 10px;
    text-align: center;
    transition: 200ms;
    width: 100%;
    box-sizing: border-box;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;

    &:hover{
        outline: 0;
        background: colors.$gold;
        color: colors.$black;
        box-shadow: 0 0 0 2px rgba(0,0,0,.2), 0 3px 8px 0 rgba(0,0,0,.15);
    }

    &:focus{
        outline: 0;
        background: colors.$gold;
        color: colors.$black;
        box-shadow: 0 0 0 2px rgba(0,0,0,.2), 0 3px 8px 0 rgba(0,0,0,.15);
    }
}




